# universal
.tmp
.gnupg

# macos
.CFUserTextEncoding
.DS_Store
Google Drive

# vim
*.bak

# docker
.cagent
.docker
.kube
.minikube
.config/cagent

# homebrew
Brewfile.*

# gcp
.config/gcloud

# postgres
.psql_history

# claude
.claude
.claude.*

# 1Password
.config/op

# mage
.magefile

# tilt
.tilt-dev
