# universal
.tmp
.gnupg

# macos
.CFUserTextEncoding
.DS_Store

# vim
*.bak

# docker
.cagent
.docker
.kube
.minikube
.config/cagent

# homebrew
Brewfile.*

# gcp
.config/gcloud

# postgres
.psql_history

# agents
CLAUDE.md
.claude
.claude.*
.ollama

# 1Password
.config/op

# mage
.magefile

# tilt
.tilt-dev

# LLVM
local
