[core]
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[user]
	name = Ben Burkert
	email = ben@benburkert.com
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
